* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-admin-product-list {
  padding-top: 2rem;
  padding-bottom: 2rem;
font-size: 1.8rem;
display: flex;
justify-content: space-around;
}
h1 {
  text-align: center;
 padding-bottom: 3rem;
}
.edit-product-container {
  height: auto;
  background-color: white;
  position: absolute;
  top: 24%;
  right: 30%;
  width: 40%;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 3rem;
}


.form-container {
width: 100%;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
 align-items: center;

}

.form-field *{
  font-size: 1.6rem;
}

label {
  font-size: 1.4rem;
}
.edit-product-submit {
width: 100%;
}
/* ____________*/

@media (max-width: 420px) {
  .header-admin-product-list {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
 display: flex;
    flex-direction: column;
    align-items: center;

  }


  .table-image {
    display: none;
  }
  #label-table-image {
    display: none;
  }

  .edit-product-container {
    height: auto;
    background-color: white;
    position: absolute;
    top: 16%;
    right: 0%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .form-container {
    margin-top: 1rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-field {
  
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-field * {
      font-size: 1.0rem;
  }

  label {
    font-size: 1.2rem;
  }
  .edit-product-submit {
    padding-left: 2rem;
    padding-right: 2rem;
  }
} 


  .form-field {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    font-size: 1.2rem;
  }
  .edit-product-submit {
    padding-left: 2rem;
    padding-right: 2rem;
  }
 

  @media (min-width:421px) and (max-width:1024px){
    .edit-product-container {
     
      position: absolute;
      top: 18%;
      right: 20%;
      width: 60%;
      border-radius: 15px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
    .form-field * {
      font-size: 1.0rem;
      width: 80%;
  }

  label {
    font-size: 1.2rem;
  }
  }
