* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  height: 10vh;

  display: flex;
 justify-content: space-around;

}


.links{
 
    font-size: 1.8rem;

  }
  .links *{
    padding-left: 4rem;
    padding-right: 4rem;
    text-decoration: none;
  }
  .links *:hover {
color: rgb(26, 151, 26);
text-decoration: underline;

  }
  
.container {
    max-width: 500px;
  margin-top: 4rem;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 3rem;
  }
  
  form {
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
   
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
  }
  
.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
  }
  
  
  
  button[type="submit"] {
    background-color: #23b745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-left: 9vw;
  }

  button[type="submit"]:hover{
    background-color:rgb(26, 151, 26) ;
  }
  .success-message,
  .failed-message{
    font-size: 1rem;
    margin-top: 0.6rem;
  }





  