

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background-color: #f2f2f2;
  position: absolute;
  top: 30%;
  right: 30%;
  width: 40%;
  border-radius: 15px;
  border: 2px solid #b063b1;
  padding-top: 3rem;
}
  
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

 
.input {
  border-radius: 5px;
  padding: 0.5rem;
}

.p-link-text {
  margin-top: 0.5rem;
  color: blue;
  font-size: 1.4rem;
}

.p-link {
  color: rgb(209, 32, 222) !important;
  font-size: 1.6rem;
}

.p-link:hover {
  color: rgb(57, 222, 42) !important;
}

.submit-btn {

  background-color: rgb(209, 32, 222) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
margin-bottom: 0.5rem;
  font-size: 1rem ;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit-btn:hover {
  background-color: rgb(57, 222, 42) !important;
}

.error-message {
  color: red;
}