.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background-color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100vh;
   
    
  }
  
  .login-form {
    max-width: 400px;
    padding: 20px;
   
    border-radius: 5px;
    margin-right: 2rem;
  }
  
  
  
  .form-field {
   
    
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-field input[name="userName"],
  .form-field input[name="userEmail"],
  .form-field input[name="userPassword"],
  .form-field input[name="userPasswordTwo"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  .form-links{
    margin-top: 2rem;
    color: blue;
    font-size: 1.2rem;
  }
  
  .form-links p:hover  {
   text-decoration: underline;
  }
  
  .submit-btn {
   
    padding: 10px;
    background-color:  #b063b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  .submit-btn:hover {
    background-color: #64c42c;
  }

 .error-message{
  color:red
 }