

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.product-card {
  width: 40rem;
  height: 40rem;
  display: flex;
justify-content: space-evenly;
background-color: aqua;

  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #5c0606;
  border-radius: 5px;
}

.product-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-to-basket-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-basket-btn:hover {
  background-color: #45a049;
}
